<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather App</title>

    <link href="/css/style.css" rel="stylesheet" type="text/css">

  </head>
  </style>

  <body>
    <!-- Heading -->
    <h1>Weather App</h1>

    <!-- Location & Preference Input -->
    <form>
      <!-- Location -->
      <label for="locationSearch">Location</label>
      <input type="text" id="locationSearch" name="locationSearch" />

      <!-- Tempature Preference Selector -->
      <label for="tempatureSelect">Preferred Tempature:</label>
      <select name="tempatureSelect" id="tempatureSelect">
        <option value="celsius">C</option>
        <option value="fahrenheit">F</option>
      </select>
    </form>

    <!-- Current Location -->
    <h2>Current Location</h2>

    <!-- Current Weather -->
    <h2>Condition -> sunny, cloudy, etc...</h2>

    <!-- Daily Weather -->
    <div class="flex-container">
      <div>1</div>
      <div>2</div>
      <div>3</div>
      <div>4</div>
      <div>5</div>
      <div>6</div>
      <div>7</div>
    </div>
  </body>
</html>
