<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Weather App</title>

  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="/javascript/autocomplete.js"></script>
  
</head>
</style>

<body>

  <!-- Location Form -->
  <form id="location-finder" method="post">
    <!-- Location -->
    <input type="text" id="location" name="location" list="available-locations" autocomplete="off" placeholder="Search for any city..." />
    <datalist id="available-locations">

    </datalist>
  </form>

  <h1 id="testTitle"><%=location%></h1>

  <!-- Current Location -->
  <h2>Current Location</h2>

  <!-- Current Weather -->
  <h2>Condition -> sunny, cloudy, etc...</h2>

  <!-- Daily Weather -->
  <div class="flex-container">
    <div>1</div>
    <div>2</div>
    <div>3</div>
    <div>4</div>
    <div>5</div>
    <div>6</div>
    <div>7</div>
  </div>
</body>

</html>